* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  /* background: rgb(24,39,51); */
  background: #3b4252;
}
#clock {
	background-color: #4c566a;
  color: rgb(240,240,240);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
  font-size: 0.38cm;
}
